.hero-img-contact{
  background-image: url(./assets/contact-1.jpeg);
  background-size:cover;
  background-position:center;
  height: 55vh;
}

.hero-img-contact2{
  background-image: url(./assets/contact-2.jpeg);
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.contact-info{
  padding-top: 14vh;
  padding-bottom: 11vh;

  .contact-top h2{
    @include fontSize(36);
  }

   .contact-top p{
    width: 50%;
    min-width: 200px;
    margin-top: 2vh;
    margin-bottom: 5vh;
    line-height: 2rem;
  }

  .contact-data{
    display: flex;
  }

  .contact-data > *{
    // border: 0.5px solid $secondaryText;
    padding: 5vh 2vw 4.5vh 3.5vw;
    width: calc(100% / 3);
    min-width: 200px;
  }

  .contact-data div:nth-of-type(2){
    border-left: 0.5px solid $secondaryText;
    border-right: 0.5px solid $secondaryText;

  }

  .contact-data i{
    @include fontSize(30);
    margin-bottom: 15px;
  }

  .contact-data h4{
    @include fontSize(15);
    padding-bottom: 5px;
  }

  .contact-data p{
    @include fontSize(10);
    line-height: 1.6rem; 
  }

  .contact-form h2{
    margin-top: 3vh;
    @include fontSize(36);
    line-height: 4rem;
  }

  .contact-form p{
    margin-top: 10px;
  }
  

  .contact-form fieldset{
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5%;
  margin: 0;
  margin-top: 10vh;
  padding: 0;
}

.contact-form fieldset > *{
  border: none;
  border-bottom: 0.5px solid $secondaryText;
  padding-bottom:15px;
  margin-bottom: 30px;
}

.contact-form textarea{
  resize:none;
  width: 100%;
  margin-bottom: 4vh;
  padding-top: 5px;
  border:none;
  border-bottom: 0.5px solid $secondaryText;
}

.contact-form textarea::placeholder{
  @include fontSize(11);
  font-family: $fontStackPop;
  color:$secondaryText;
}

.contact-form input[type="submit"]{
  background-color: transparent;
  border:none;
  border-bottom: 1px solid black;
  box-shadow:none;
  text-transform:uppercase;
  font-family: $fontStackPop;
  font-weight:600;
  padding:0;
  padding-bottom: 5px;
  letter-spacing: 1px;
  color: $primaryText;
  @include fontSize(11);
  margin-top: 20px;
}




}
