header{
  .nav-main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1{
    position: absolute;
    z-index:1;
  }

  .nav-main ul{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    width: 100%;
  }

  .nav-main ul li:nth-of-type(3){
    margin-right: 30vw;
  }

  .nav-main ul li:last-of-type{
    position: relative;
  }

  .nav-main ul li p{
    position: absolute;
    bottom: -5px;
    right: -8px;
    color: $primaryText;
    background-color: $primaryAccent;
    padding: 2px;
    text-align:center;
    @include fontSize(8);
    border-radius: 100%;
    width: 12px;
    height: 12px;
    line-height: 0.8rem;
  }



  .hero-img{
    background-image: url(./assets/home-1.jpeg);
    background-size: cover;
    background-position: center;
    height: 85vh;
  }

  .hero-img-blog{
    background-image: url(./assets/blog-1.jpeg);
    background-size: cover;
    background-position: center;
    height: 83vh;
  }
}