.testimonial{
  background-image: url(./assets/pattern.png);
  background-size: contain;
  padding-top: 16vh;
  padding-bottom: 19vh;

  .wrapper{
    display: flex;
    flex-direction: column;
  }

  h3{
    letter-spacing: 4px;
  }

  h2{
    margin-top: 30px;
    margin-bottom: 60px;
    @include fontSize(44)
  }

  .client-quotes{
    text-align: center;
    background-color: white;
    padding: 8% 10%;
    position: relative;
  }

  .quote{
    font-family: $fontStackPlay;
    font-style: italic;
    color: $primaryText;
    @include fontSize(18);
    line-height: 2.6rem;
  }

  .client-quotes p:nth-of-type(2){
    color: $iconColor;
    @include fontSize(18);
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .client-quotes span:first-of-type{
    font-weight: 600;
    color: black;
  }

  .client-quotes span:last-of-type{
    color: black;
  } 

  .client-quotes i.arrow:first-of-type{
    position: absolute;
    @include fontSize(36);
    right: -60px;
    bottom: 50%;
    transition: all 0.5s ease;
  }

  .client-quotes i.arrow:last-of-type{
    position: absolute;
    @include fontSize(36);
    left: -60px;
    bottom: 50%;
    transition: all 0.5s ease;
  }

  h2:last-of-type{
    margin-top: 20px;
    margin-bottom: 45px;
  }

  .gallery{
    padding-top: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.5%;
    row-gap: 5%;
  }

  .gallery ul li{
    overflow: hidden;
  }

  .gallery ul img{
    width: 100%;
    transition: .3s ease-in-out;
  }

  
}