html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body {
  max-width: 1600px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  line-height: 4.4rem;
}

h3, li a {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

h3 {
  color: #999999;
}

p, span, input::-webkit-input-placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
  line-height: 2.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

p, span, input:-ms-input-placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
  line-height: 2.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

p, span, input::-ms-input-placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
  line-height: 2.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

p, span, input::placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
  line-height: 2.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper {
  width: 61vw;
  margin: 0 auto;
  max-width: 1200px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

header .nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  position: absolute;
  z-index: 1;
}

header .nav-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
  width: 100%;
}

header .nav-main ul li:nth-of-type(3) {
  margin-right: 30vw;
}

header .nav-main ul li:last-of-type {
  position: relative;
}

header .nav-main ul li p {
  position: absolute;
  bottom: -5px;
  right: -8px;
  color: #000;
  background-color: #A4F1DC;
  padding: 2px;
  text-align: center;
  font-size: 8px;
  font-size: 0.8rem;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  line-height: 0.8rem;
}

header .hero-img {
  background-image: url(./assets/home-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 85vh;
}

header .hero-img-blog {
  background-image: url(./assets/blog-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 83vh;
}

header .hamburger {
  color: #000;
  font-size: 3.5rem;
  display: none;
}

header input {
  display: none;
}

.about {
  background-color: #EDEDED;
  padding: 22vh 0;
  padding-bottom: 29vh;
}

.about h3 {
  letter-spacing: 6px;
  text-align: center;
  margin-bottom: 12vh;
}

.about .about-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-pic {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.about .resort-stamp {
  position: absolute;
  height: 185px;
  width: 185px;
  bottom: -93px;
  left: 0;
  -webkit-transition: -webkit-transform 5s ease 0.2s;
  transition: -webkit-transform 5s ease 0.2s;
  transition: transform 5s ease 0.2s;
  transition: transform 5s ease 0.2s, -webkit-transform 5s ease 0.2s;
}

.about .about-pic img:first-of-type {
  position: relative;
  width: 68%;
  min-width: 290px;
  min-height: 290px;
  margin-left: 98px;
  border: 12px solid white;
}

.about .about-words {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  padding-left: 10px;
}

.about .about-words h2 {
  width: 80%;
  margin-top: 30px;
}

.about .about-words p {
  margin-top: 30px;
  margin-bottom: 25px;
  width: 88%;
}

.about .about-words span:first-of-type {
  font-weight: 600;
  color: #000;
}

.about .about-words::after {
  content: " ";
  background: black;
  position: absolute;
  top: 0;
  left: 10px;
  height: 1px;
  width: 12%;
  border-top: 1px solid black;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location h3 {
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: 600;
}

.location .location-words {
  padding-left: 19.5vw;
  padding-right: 10px;
  width: 65vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location .location-img {
  width: 35vw;
}

.location .location-img img {
  width: 100%;
  display: block;
}

.location .location-words ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  height: 440px;
}

.location ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-bottom: 40px;
}

.location ul li p {
  line-height: 1.8rem;
  width: 210px;
  font-size: 10.5px;
  font-size: 1.05rem;
}

.location i {
  font-size: 25px;
  font-size: 2.5rem;
  margin-right: 20px;
  width: 25px;
}

.testimonial {
  background-image: url(./assets/pattern.png);
  background-size: contain;
  padding-top: 16vh;
  padding-bottom: 19vh;
}

.testimonial .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial h3 {
  letter-spacing: 4px;
}

.testimonial h2 {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 44px;
  font-size: 4.4rem;
}

.testimonial .client-quotes {
  text-align: center;
  background-color: white;
  padding: 8% 10%;
  position: relative;
}

.testimonial .quote {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #000;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.testimonial .client-quotes p:nth-of-type(2) {
  color: #F6AB09;
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 15px;
  margin-bottom: 25px;
}

.testimonial .client-quotes span:first-of-type {
  font-weight: 600;
  color: black;
}

.testimonial .client-quotes span:last-of-type {
  color: black;
}

.testimonial .client-quotes i.arrow:first-of-type {
  position: absolute;
  font-size: 36px;
  font-size: 3.6rem;
  right: -60px;
  bottom: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.testimonial .client-quotes i.arrow:last-of-type {
  position: absolute;
  font-size: 36px;
  font-size: 3.6rem;
  left: -60px;
  bottom: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.testimonial h2:last-of-type {
  margin-top: 20px;
  margin-bottom: 45px;
}

.testimonial .gallery {
  padding-top: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .gallery ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 2.5%;
          column-gap: 2.5%;
  row-gap: 5%;
}

.testimonial .gallery ul li {
  overflow: hidden;
}

.testimonial .gallery ul img {
  width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 56% 36%;
      grid-template-columns: 56% 36%;
  grid-gap: 8%;
}

.information img {
  width: 100%;
  display: block;
}

.information .info-words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.information h3 {
  letter-spacing: 6px;
}

.information h2 {
  font-size: 44px;
  font-size: 4.4rem;
  margin-top: 2vh;
  margin-bottom: 13vh;
}

.information .info-words p:first-of-type {
  margin-bottom: 15px;
}

.information .info-words p:first-of-type span {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  color: #CCCCCC;
}

.information .info-words p span:first-of-type {
  color: #000;
}

.information address {
  font-style: normal;
}

.information address:first-of-type {
  margin: 20px 0;
  margin-bottom: 5vh;
  font-family: "Poppins", sans-serif;
  color: #999999;
  font-size: 12px;
  font-size: 1.2rem;
}

.information address:first-of-type span {
  font-family: "Playfair Display", serif;
  color: black;
  font-weight: 700;
}

.information .info-words p:nth-of-type(4) {
  font-weight: 600;
  margin-bottom: 10px;
}

.information address:last-of-type {
  font-size: 26px;
  font-size: 2.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

main.blog-background {
  background-color: #EDEDED;
  padding-bottom: 15vh;
}

.blog-post .wrapper {
  background-color: white;
  position: relative;
  width: 66vw;
  max-width: 1200px;
}

.blog-post .blog-title {
  position: absolute;
  top: -65px;
  background: white;
  padding: 6vh 15vw;
  padding-bottom: 2vh;
  text-align: center;
}

.blog-post .blog-title h2 {
  font-size: 27px;
  font-size: 2.7rem;
  line-height: 3.8rem;
  margin-bottom: 30px;
}

.blog-post .blog-title span a {
  color: #999999;
}

.blog-post .blog-title span:last-of-type {
  color: #000;
}

.blog-post .post {
  padding-top: 170px;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.blog-post .post-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-bottom: 3vh;
  margin-bottom: 5vh;
  border-bottom: 0.5px solid #999999;
}

.blog-post .post-info h4 {
  font-size: 14px;
  font-size: 1.4rem;
}

.blog-post .post-info > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-post .author img {
  border-radius: 50%;
  width: 55px;
  margin-right: 20px;
}

.blog-post .post-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50px;
}

.blog-post .post-content p {
  font-size: 10.5px;
  font-size: 1.05rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
}

.blog-post .post-content p:first-of-type {
  color: #000;
}

.blog-post .post-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-size: 1.5rem;
  margin-top: 6vh;
}

.blog-post .post-share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.blog-post .post-share ul li a {
  padding-right: 10px;
  color: #999999;
}

.blog-post .related-posts {
  padding-top: 10vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.blog-post .related-posts h2 {
  font-size: 22px;
  font-size: 2.2rem;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #999999;
  margin-bottom: 5vh;
}

.blog-post .post-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5%;
}

.blog-post .post-grid > div {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-post .post-words {
  padding: 10px 20px;
}

.blog-post .post-words h4 {
  font-size: 15px;
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-post .post-grid img {
  width: 100%;
}

.blog-post .post-comments {
  padding-top: 10vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.blog-post .post-comments h2 {
  font-size: 22px;
  font-size: 2.2rem;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #999999;
  margin-bottom: 5vh;
}

.blog-post .post-words p:last-of-type {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-post .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-post .tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.blog-post .tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.blog-post .arrow {
  height: 10px;
  margin-top: 10px;
  margin-left: 15px;
  display: block;
}

.blog-post .comment-words {
  background-color: #EDEDED;
  padding: 20px;
  padding-top: 10px;
  padding-right: 60px;
  margin-bottom: 20px;
}

.blog-post .comment img:first-child {
  width: 55px;
  height: 55px;
}

.blog-post .comment-words p:nth-child(2) {
  font-size: 10px;
  font-size: 1rem;
}

.blog-post .comment-words p:nth-child(1) {
  color: #000;
}

.blog-post .comment-words span {
  color: #A4F1DC;
  font-style: italic;
}

.blog-post .comment-words p:nth-child(3) {
  font-size: 9px;
  font-size: 0.9rem;
}

.blog-post .comment-form h2 {
  font-size: 22px;
  font-size: 2.2rem;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #999999;
  margin-bottom: 5vh;
}

.blog-post .comment-form {
  padding-top: 7vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.blog-post .comment-form fieldset {
  border: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5%;
  margin: 0;
  padding: 0;
}

.blog-post .comment-form fieldset > * {
  border: none;
  border-bottom: 0.5px solid #999999;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.blog-post .comment-form input {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-post .comment-form textarea {
  resize: none;
  width: 100%;
  margin-bottom: 4vh;
  padding-top: 5px;
  border: none;
  border-bottom: 0.5px solid #999999;
}

.blog-post .comment-form textarea::-webkit-input-placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-post .comment-form textarea:-ms-input-placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-post .comment-form textarea::-ms-input-placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-post .comment-form textarea::placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-post .comment-form input:hover::-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-post .comment-form input[type="submit"] {
  background-color: #84A016;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 10px 30px;
  padding-top: 17px;
  color: white;
  font-size: 11px;
  font-size: 1.1rem;
  margin-top: 20px;
  margin-bottom: 7vh;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero-img-contact {
  background-image: url(./assets/contact-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 55vh;
}

.hero-img-contact2 {
  background-image: url(./assets/contact-2.jpeg);
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.contact-info {
  padding-top: 14vh;
  padding-bottom: 11vh;
}

.contact-info .contact-top h2 {
  font-size: 36px;
  font-size: 3.6rem;
}

.contact-info .contact-top p {
  width: 50%;
  min-width: 200px;
  margin-top: 2vh;
  margin-bottom: 5vh;
  line-height: 2rem;
}

.contact-info .contact-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info .contact-data > * {
  padding: 5vh 2vw 4.5vh 3.5vw;
  width: calc(100% / 3);
  min-width: 200px;
}

.contact-info .contact-data div:nth-of-type(2) {
  border-left: 0.5px solid #999999;
  border-right: 0.5px solid #999999;
}

.contact-info .contact-data i {
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact-info .contact-data h4 {
  font-size: 15px;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.contact-info .contact-data p {
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.6rem;
}

.contact-info .contact-form h2 {
  margin-top: 3vh;
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 4rem;
}

.contact-info .contact-form p {
  margin-top: 10px;
}

.contact-info .contact-form fieldset {
  border: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5%;
  margin: 0;
  margin-top: 10vh;
  padding: 0;
}

.contact-info .contact-form fieldset > * {
  border: none;
  border-bottom: 0.5px solid #999999;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.contact-info .contact-form input {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact-info .contact-form textarea {
  resize: none;
  width: 100%;
  margin-bottom: 4vh;
  padding-top: 5px;
  border: none;
  border-bottom: 0.5px solid #999999;
}

.contact-info .contact-form textarea::-webkit-input-placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
}

.contact-info .contact-form textarea:-ms-input-placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
}

.contact-info .contact-form textarea::-ms-input-placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
}

.contact-info .contact-form textarea::placeholder {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
}

.contact-info .contact-form input[type="submit"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  color: #000;
  font-size: 11px;
  font-size: 1.1rem;
  margin-top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer {
  color: white;
  background-color: #1a1a1a;
  padding-top: 8vh;
}

footer .foot-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10vh;
}

footer .nav-btm {
  width: 60%;
}

footer .nav-btm ul {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: 12px 12px 12px 12px 12px;
      grid-template-rows: 12px 12px 12px 12px 12px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
}

footer .nav-btm ul li a {
  text-transform: none;
  color: #999999;
  font-weight: 400;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer form {
  width: 40%;
}

footer form:nth-child(2) {
  height: 100%;
  padding-bottom: 3px;
  border-bottom: 0.5px solid #999999;
  background-color: transparent;
}

footer input[type="email"], footer button {
  background-color: transparent;
  border: none;
  line-height: 2.2rem;
  color: #999999;
}

footer button i {
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer input[type="email"] {
  width: calc(100% - 16px);
  color: white;
}

footer input::-webkit-input-placeholder {
  line-height: 2rem;
  opacity: 1;
}

footer input:-ms-input-placeholder {
  line-height: 2rem;
  opacity: 1;
}

footer input::-ms-input-placeholder {
  line-height: 2rem;
  opacity: 1;
}

footer input::placeholder {
  line-height: 2rem;
  opacity: 1;
}

footer .foot-top > form:nth-child(2) > button:nth-child(3) {
  padding-left: 0px;
  padding-right: 0px;
}

footer label {
  display: block;
  color: #999999;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

footer .foot-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.5px solid #999999;
  padding-top: 5vh;
  padding-bottom: 3vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .foot-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .foot-bottom ul li a {
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 40px;
}

@media (max-width: 1290px) {
  .wrapper {
    width: 76vw;
  }
  .about .resort-stamp {
    height: 100px;
    width: 100px;
    bottom: -48px;
    left: 50px;
  }
  .location .location-words {
    padding-left: 10vw;
  }
  .location i {
    margin-right: 10px;
  }
  .location .location-words ul {
    height: 400px;
  }
  .location .location-words ul li {
    width: 275px;
    margin-bottom: 10px;
  }
  .about .about-words {
    padding-left: 30px;
  }
  .about .about-words::after {
    left: 30px;
  }
}

@media (max-width: 1034px) {
  .about .resort-stamp {
    height: 100px;
    width: 100px;
    top: 260px;
    left: 70px;
  }
  .information h2 {
    margin-bottom: 5vh;
  }
}

@media (max-width: 987px) {
  .location .location-words {
    padding-left: 5vw;
  }
  .location .location-words ul {
    height: 360px;
  }
}

@media (max-width: 885px) {
  .wrapper {
    width: 90vw;
  }
  header h1 {
    font-size: 40px;
    font-size: 4rem;
  }
  .about .about-words h2 {
    font-size: 30px;
    font-size: 3rem;
  }
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    justify-items: center;
  }
  .location .location-img {
    width: 100%;
    height: 70vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .location .location-img img {
    -webkit-transform: translateY(-28%);
            transform: translateY(-28%);
  }
  .location .location-words ul {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    -ms-grid-rows: 110px 110px auto;
        grid-template-rows: 110px 110px auto;
    margin-bottom: 20px;
  }
  .location .location-words {
    padding-left: 5vw;
    width: 100%;
  }
  .testimonial h2 {
    font-size: 36px;
    font-size: 3.6rem;
  }
  .testimonial .client-quotes {
    padding: 4% 5%;
    margin: 0 5vw;
  }
  .testimonial .client-quotes i.arrow:last-of-type {
    left: -30px;
  }
  .testimonial .client-quotes i.arrow:first-of-type {
    right: -30px;
  }
  .testimonial .gallery ul {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 2.5%;
  }
  .information .info-words {
    margin-bottom: 0px;
  }
  .information h2 {
    font-size: 39px;
    font-size: 3.9rem;
    margin-bottom: 3vh;
  }
  .information address:first-of-type {
    margin-bottom: 2vh;
  }
  .information address:last-of-type {
    font-size: 22px;
    font-size: 2.2rem;
  }
}

@media (max-width: 730px) {
  .header .hero-img {
    height: 70vh;
  }
  .header h1 {
    font-size: 35px;
    font-size: 3.5rem;
  }
  .about {
    padding: 15vh 0;
  }
  .about .about-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-words {
    padding-left: 90px;
  }
  .about .about-words::after {
    content: none;
  }
  .about .resort-stamp {
    height: 100px;
    width: 100px;
    top: 15px;
    left: 110px;
  }
  .information {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0%;
  }
  .information .info-words {
    height: 400px;
    padding-left: 5vw;
  }
  .imformation .info-pic {
    width: 100%;
    height: 70vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}

@media (max-width: 586px) {
  header .nav-main {
    display: block;
  }
  header .nav-main ul li:nth-of-type(3) {
    margin-right: 0px;
  }
  header .nav-main ul {
    display: block;
    text-align: right;
    height: 0;
    margin: 0;
    padding-right: 15px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .nav-main ul li {
    padding: 10px 0;
  }
  header .hamburger {
    position: absolute;
    top: 30px;
    right: 5vw;
    display: block;
  }
  header input {
    position: absolute;
    top: 28px;
    right: 4vw;
    height: 44px;
    width: 40px;
    z-index: 1;
    border: none;
    opacity: 0;
    display: block;
  }
  header input:checked ~ ul {
    height: 100%;
    margin: 20px 0;
    padding-right: 15px;
    z-index: 1;
    display: block;
    text-align: right;
  }
  header .nav-main ul li p {
    bottom: 3px;
  }
  header h1 {
    background-color: white;
    width: 100%;
    padding: 4vh 0;
    position: static;
  }
  .location ul li p {
    line-height: 1.6rem;
    width: 150px;
  }
  .location .location-words ul {
    -ms-grid-rows: 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
    padding-top: 20px;
    height: 500px;
  }
  .location .location-words ul li {
    width: 200px;
  }
  .testimonial .quote {
    font-size: 16px;
    font-size: 1.6rem;
  }
  footer .nav-btm ul {
    display: block;
  }
  footer .nav-btm ul li {
    height: 22px;
  }
}

@media (max-width: 429px) {
  .header .hero-img {
    height: 50vh;
  }
  .about {
    padding: 10vh 0;
  }
  .about h3 {
    margin-bottom: 8vh;
  }
  .about .about-pic img:first-of-type {
    margin-left: 0px;
  }
  .about .resort-stamp {
    left: 15px;
  }
  .about .about-words {
    padding-left: 10px;
  }
  .about .about-words p {
    width: 100%;
  }
  .about .about-words h2 {
    font-size: 25px;
    font-size: 2.5rem;
    width: 100%;
  }
  .location h3 {
    height: 28px;
  }
  .location i {
    font-size: 12px;
    font-size: 1.2rem;
    width: 10px;
    margin-right: 5px;
  }
  .location .location-words ul {
    -ms-grid-rows: 190px 190px 190px;
        grid-template-rows: 190px 190px 190px;
    height: 600px;
  }
  .location .location-words ul li {
    width: 144px;
    height: 180px;
  }
  .location .location-words ul li p {
    width: 114px;
  }
  .location .location-img img {
    width: 100%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .location .location-img {
    height: auto;
  }
  .testimonial h2 {
    font-size: 28px;
    font-size: 2.8rem;
  }
  .testimonial h2:last-of-type {
    margin-bottom: 20px;
  }
  .testimonial {
    padding-top: 11vh;
    padding-bottom: 14vh;
  }
  .testimonial .gallery {
    padding-top: 8vh;
  }
  .testimonial .quote {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  .information h2 {
    font-size: 30px;
    font-size: 3rem;
  }
  footer .foot-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer form {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 1140px) {
  .blog-post .blog-title {
    padding: 6vh 10vw;
  }
  .post-data p {
    min-width: 100px;
  }
}

@media (max-width: 940px) {
  .blog-post .wrapper {
    width: 80vw;
  }
  .post-data p {
    width: 100px;
  }
}

@media (max-width: 735px) {
  .blog-post .wrapper {
    width: 90vw;
  }
  .blog-post .blog-title {
    padding: 6vh 5vw;
  }
  .blog-post .post-data {
    margin-right: 0;
  }
}

@media (max-width: 570px) {
  .blog-post .post-info {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .blog-post .post {
    padding-top: 200px;
  }
  .blog-post .blog-title {
    padding-bottom: 2vh;
  }
  .blog-post .related-posts {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
  }
  .blog-post .post-grid {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
    -ms-grid-rows: 380px 380px 380px;
        grid-template-rows: 380px 380px 380px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-post .comment-form fieldset {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

@media (max-width: 420px) {
  .blog-post .blog-title h2 {
    font-size: 25px;
    font-size: 2.5rem;
  }
  .post-data p {
    width: 80px;
    min-width: 80px;
  }
  .blog-post .post-content p {
    margin-bottom: 10px;
  }
  .blog-post .related-posts {
    padding-top: 5vh;
  }
  .blog-post .post-grid {
    -ms-grid-rows: 320px 320px 320px;
        grid-template-rows: 320px 320px 320px;
  }
  .blog-post .comment-words {
    padding-right: 5px;
  }
}

@media (max-width: 640px) {
  .contact-info .contact-data > * {
    min-width: 100px;
  }
}

@media (max-width: 502px) {
  .contact-info .contact-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info .contact-top p {
    width: 75%;
  }
  .contact-info .contact-data > * {
    width: 80%;
    min-width: 200px;
  }
  .contact-info .contact-data div:nth-of-type(2) {
    border: none;
    border-top: 0.5px solid #999999;
    border-bottom: 0.5px solid #999999;
  }
  .contact-info .contact-form fieldset {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .contact-info .contact-top h2 {
    font-size: 30px;
    font-size: 3rem;
  }
  .contact-info .contact-form h2 {
    font-size: 30px;
    font-size: 3rem;
  }
}

.header .nav-main ul li a:hover, .header .nav-main ul li a:focus {
  color: #999999;
}

.resort-stamp:hover, resort-stamp:focus {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.client-quotes i.arrow:hover, .client-quotes i.arrow:focus {
  color: #999999;
  cursor: pointer;
}

.gallery ul img:hover, .gallery ul img:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-btm ul li a:hover, .nav-btm ul li a:focus {
  color: #EDEDED;
}

footer button:hover, footer button:focus {
  color: #A4F1DC;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

footer .foot-bottom ul li a:hover, footer .foot-bottom ul li a:focus {
  color: #A4F1DC;
}

.blog-title span a:hover, .blog-title span a:focus {
  -webkit-text-decoration: underline solid #000;
          text-decoration: underline solid #000;
}

.post-share ul li a:hover, .post-shar ul li a:focus {
  color: #A4F1DC;
}

.post-grid > div:hover, .post-grid > div:focus {
  -webkit-box-shadow: 0px 25px 15px -14px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 25px 15px -14px rgba(0, 0, 0, 0.2);
}

.post-grid > div:hover .post-words h4, .post-grid > div:focus .post-words h4 {
  -webkit-text-decoration: underline 0.5px #999999;
          text-decoration: underline 0.5px #999999;
}

.post-grid > div:hover .post-words p:last-of-type, .post-grid > div:focus .post-words p:last-of-type {
  color: #000;
  font-weight: 600;
}

.comment-form input:hover, .comment-form input:focus {
  border-bottom: 0.5px solid #000;
}

.comment-form input:hover::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.comment-form textarea:hover::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.comment-form input[type="submit"]:hover {
  background-color: #a9cd1c;
}

.contact-form input:hover, .comment-form input:focus {
  border-bottom: 0.5px solid #000;
}

.contact-form input:hover::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.contact-form textarea:hover::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.contact-form input[type="submit"]:hover, .contact-form input[type="submit"]:focus {
  -webkit-box-shadow: 5px 5px 1px 0px #999999;
          box-shadow: 5px 5px 1px 0px #999999;
}

.contact-data div:hover i, .contact-data div:focus i {
  color: #148264;
}
